{
  "passPerPreset": true,
  "presets": [
    {
      "plugins": [
        "./plugins/babelRelayPlugin",
        "typecheck",
        "syntax-flow",
        "transform-flow-strip-types"
      ]
    },
    "react-native"
  ]
}